# Ignore MacOS .DS_Store files
.DS_Store
.gradle
.dart_tool
pubspec.lock
.idea
android/local.properties
android/build/
AGENTS.md
build/
# Exclude .json test files used for testing only. 
test/third_party/structured_field_tests/ 
